<p id="notice"><%= notice %></p>

<h1>Listing Spects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Design</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spects.each do |spect| %>
      <tr>
        <td><%= spect.name %></td>
        <td><%= spect.design %></td>
        <td><%= spect.brand.name if !spect.brand.nil? %></td>
        <td><%= link_to 'Show', spect %></td>
        <td><%= link_to 'Edit', edit_spect_path(spect) %></td>
        <td><%= link_to 'Destroy', spect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spect', new_spect_path %>
