<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher %>
</p>

<p>
  <strong>Student:</strong>
  <%= @section.student %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
