<p>SKU:<%= @product.sku %></p>
<p>Name:<%= @product.name %></p>
<p>Quantity:<%= @product.quantity %></p>
<p>Price:<%= @product.price.to_i %></p>
<p>Total Price:<%= @product.totalprice.to_i %></p>

<%= link_to "Back", root_path %>