<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <% if @category[:id].nil? %>

  <h1>Add Product</h1>
  <% else %>
  <h1>Edit Product</h1>
  <% end %>


  <%= f.fields_for :products do |p| %>
   <%= render :partial => 'products' , :locals => {product: p}%>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
