<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %>
<%= link_to 'EvenOdd', mathematics_evenodd_path %>
<%= link_to 'Prime', mathematics_prime_path %>
<%= link_to 'Palindrome', mathematics_palindrome_path %>
<%= link_to 'CreateSudent', students_create_path %>

<%= yield %>

</body>
</html>
